#navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.Desktop {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;
}

.Desktop a {
    color: #fff;
    text-decoration: none;
    margin-right: 1rem;
}

.Desktop a:hover {
    color: #ccc;
}

.Mobile {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-color: #333;
    z-index: 4;
    position: fixed;
    top: 0;
    left: 0;
    overflow-y: auto;
    overflow-x: hidden;
    padding: 2rem;
}

.Mobile a {
    color: #fff;
    text-decoration: none;
    margin-right: 1rem;
}

.Mobile a:hover {
    color: #ccc;
}
.buttonMobile {
    display: none;
}
@media (max-width: 768px) {
    .Desktop {
        display: none;
    }
    .buttonMobile {
        display: block;
        z-index: 5;
    }
}
